<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>
<body>
    <form action="/success" method="post">
        <label id="display" for="name"> Enter name:</label><br>
        <input type="text" name="name"/><br>
        <label id="display" for="message"> Enter a message:</label><br>
        <input type="text" name="message"/><br>
        <input type="submit"/>
    </form>
    
    <p><a href="/all">See all messages</a></p>

</body>
</html>